<div class="pokemons-container">
    <h2>Pokemon List</h2>
    <div class="pokemons-list">
    {% for pokemon in pokemons %}
        <a href="/pokemon/details/{{pokemon.id}}" class="pokemon">
            <img src="{{ pokemon.image }}"/>
            <div class="description">
                <p class="name">{{pokemon.name}}</p>
                {% for type in pokemon.types %}
                    <p class="type {{type.name}}">{{type.name}}</p>
                {% endfor %}
            </div>
        </a>
    {% endfor %}
    </div>
</div>